<!-- Problem. Inside of this, we'll find:
        - Statement
        - Data Table
        - Code editor 
        - Output Console
        - Tips and expected output
-->
<div class="row">
    <div class="col-md-4 problem-data-box">
        <!-- Problem STATEMENT -->
        <div class="row">
            <div class="col-md-12">
                <h3>Enunciado</h3>
                <!-- md.convert(problem.statement) this sentence convert the statement markdown into html elements -->
                <div class="problem-statement" [ngClass]="{'long-text': isOnExercises}" [innerHtml]="md.convert(problem.statement)"></div>
            </div>
        </div>
        <!-- 593px -->
        <hr *ngIf="!isOnExercises"/>
        <!-- Problem Solution Steps on Example -->
        <div *ngIf="!isOnExercises" class="row">
            <div class="col-md-12">
                <h3>Solución paso a paso</h3>
                <div class="problem-steps-solution">
                   <div class="row">
                        <div class="col-md-1">
                            <i *ngIf="!isCurrentStepFirst" 
                                (click)="previousStepExample()"
                                class="fa fa-arrow-circle-left fa-2x"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="step-content">
                                <label>{{currentStepIndex + 1}}</label>
                                {{currentStep}}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <i *ngIf="!isCurrentStepLast" 
                                (click)="nextStepExample()"
                                class="fa fa-arrow-circle-right fa-2x"></i>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 problem-code-box"> <!-- Note: with col-md-8 jumps to the next line -->
        <!-- Problem CODE EDITOR -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <button class="btn btn-sm btn-orange btn-compiling-code" *ngIf="isCompiling" disabled="true">
                        <i class="fa fa-spinner fa-spin"></i>
                        Compilando
                    </button>
                    <button id="btn-run-code"
                            class="btn btn-sm btn-green btn-run-code icon-arrow-run"
                            *ngIf="!isCompiling"
                            (click)="runCCode()">RUN</button>
                    <button class="btn btn-sm btn-blue btn-reset-code hint--medium hint--bottom-left" aria-label="RESTAURAR CÓDIDO ORIGINAL" (click)="restoreOriginalCode()">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <ace-editor 
                        #editor
                        class="code-editor"
                        [(text)]="problem.code"
                        [options]="codeEditorOptions" 
                        (textChanged)="onChangeCodeInsideEditor($event)">
                    </ace-editor>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <!-- Problem TIPS AND EXPECTED OUTPUT-->
                <div class="row tips-output-box">
                    <h4>Salida</h4>
                    <div *ngIf="isOnExercises" class="expected-output-console" [hidden]="isExpectedOutputHidden">
                        <h5>Salida Esperada</h5>
                        <a class="close-window-x" (click)="showHideExpectedOutput()"></a>
                        <div class="expected-ouput-content">
                            <pre>{{problem.expectedOutput}}</pre>      
                        </div>
                    </div>
                    <ul *ngIf="isOnExercises">
                        <li class="expected-output" [ngClass]="{'expected-output-on': !isExpectedOutputHidden}">                                                
                            <a class="hint--left hint--medium" aria-label="solución" type="button"
                                (click)="showHideExpectedOutput()">
                                <img src="assets/img/expected-output.svg" alt="Salida">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Problem OUTPUT CONSOLE-->
                <textarea class="row console" [id]="problem.consoleId" [(ngModel)]="problem.consoleOutput">{{problem.consoleOutput}}</textarea>
            </div>
        </div>
    </div>
</div>