// @import 'https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro';

/*----------------------------------- FONTS ON -----------------------------------*/
@font-face {
	font-family: 'Oxygen';
	src: url('assets/fonts/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
	font-family: 'Oxygen_Bold';
	src: url('assets/fonts/Oxygen/Oxygen-Bold.ttf');
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf');
}

@font-face {
	font-family: 'SourceSansPro_Semibold';
	src: url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
}

@font-face {
	font-family: 'fontawesome';
	src:url('assets/css/font-awesome/fonts/FontAwesome.otf');
	src:url('assets/css/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('assets/css/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
		url('assets/css/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
		url('assets/css/font-awesome/fonts/fontawesome-webfont.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*----------------- BASIC FONTS -----------------*/
$font_title: Oxygen, sans-serif;
$font_title_bold: Oxygen_Bold, sans-serif;
$font_main: SourceSansPro, sans-serif;
$font_main_semibold: SourceSansPro_Semibold, sans-serif;
$font_console: 'Source Code Pro', monospace;

/*----------------------------------- FONTS OFF ----------------------------------*/

/*------------------------------- COLOR PALETTE ON -------------------------------*/

/*----------------- MAIN PALETTE -----------------*/
$color_1NavyBlue: #114B5F;
$color_2DarkCyan: #028090;
$color_3Aquamarine: #E4FDE1;
$color_4BlueKing: #456990;
$color_5Magenta: #F45B69;

/*----------------- BASIC COLOR -----------------*/
$color_white: #FFFFFF;
$color_black: #000000;
$color_green: #5FD35F;
$color_darkGreen: #4CA94C;
$color_orange: #E26D11;
$color_darkOrange: #B5570E;
$color_darkBlueKing: #375473;

/*---------------- SECTIONS COLOR ----------------*/
$color_explanation: #5DA7A6;
$color_explanation_darker: #4A8685;

/*------------------------------- COLOR PALETTE OFF ------------------------------*/