@import "variables";


$color_explanation: #5DA7A6;
$color_explanation_darker: #4A8685;
$color_lightGray: #F4F1F0;
$color_lightGrayDarker: #C3C1C0;
$color_olive: #AA8800;
$color_cyan: #37C8AB;
$color_console: #374548;

$color_exercise_continue_box: #E1E6E2;
$color_circle_exercise_number: #808080;

$color_expected-output-tab: #883044;


.container-fluid {
    padding-right: 0px; 
    .row {
        margin-right: 0px; 
    }
}