@import "variables";

/*----------------------------------- LOCAL VARIABLES ON -----------------------------------*/
$color_lightGray: #F4F1F0;

$color_exercise_continue_box: #E1E6E2;
$color_circle_exercise_number: #808080;

$color_expected-output-tab: #883044;


/*----------------------------------- LOCAL VARIABLES OFF ----------------------------------*/

/*---------------------------- EXERCISES NAVIGATION BUTTONS ON -----------------------------*/

/* Navigate to the next section box */
.nav-exercise {
    background-color: $color_exercise_continue_box;
    color: $color_1NavyBlue;
    width: 95%;
    margin-right: -1%;
    float: right;
    margin-top: -125%;

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    p {
        color: black;
        font-family: $font_main;
        font-size: 18px;
        margin-top: -6px;
        margin-bottom: 3px;
        padding: 0px 7px;
    }

    .btn-green-nav-exercise {
        font-family: $font_main;
        font-size: 24px;
        padding: 0px 7px;
    }
}

.excercises-number {
    counter-reset: step;
    margin-top: 5px;
    padding: 0px 20px;
    text-align: center;
    margin-bottom: 45px;

    &:before {
        content : "";
        position: absolute;
        left: 25%;
        bottom: 80%;
        height: 1px;
        width: 45%;
        border-bottom: 1px solid $color_black;
    }

    li {
        list-style-type: none;
        width: 33%;
        float: left;
        font-family: $font_title;
        font-size: 13px;
        font-weight: bold;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: $color_exercise_continue_box;

        /* Circles */
        &:before {
            width: 25px;
            height: 25px;
            content: counter(step);
            counter-increment: step;
            line-height: 23px;
            display: block;
            text-align: center;
            margin: 0 20px 10px auto;
            border-radius: 50%;
            background-color: $color_circle_exercise_number;
        }

        
        /* Circle on completed exercise */
        &.completed:before {
            content: url('../img/check-round.svg');
            background-color: $color_2DarkCyan;
        }

        /* Circle con current exercise */
        &.current:before {
            background-color: $color_2DarkCyan;
        }

        
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
} 
/*---------------------------- EXERCISES NAVIGATION BUTTONS ON -----------------------------*/
