<!-- <navbar-home>Cargando navbar...</navbar-home> -->
<div class="jumbotron center" >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-push-2 quote">
				<p>Lo que tenemos que <span>aprender</span> lo aprendemos <span>haciendo</span></p>
				<p class="author-quote">-ARISTÓTELES</p>
			</div>
		</div>
		<div class="row">
			<p class="text-explanation">Este sitio te ayudará a aprender, aplicar y prácticar los conceptos básicos de lenguaje C, a través de explicaciones, ejemplos y ejercicios, organizados en lecciones. In consectetur ligula ut eleifend semper. Praesent accumsan sit amet tellus nec viverra. Phasellus sit amet urna nunc....</p>
			<p><a class="btn btn-blue btn-lg btn-blue-vistazo" [routerLink]="['/content']" role="button">¡Echa un vistazo!</a></p>
		</div>
	</div>
</div>

<div class="container center">
	<div class="row">
		<h1 class="title-home-big">Pero... ¿Qué es Lenguaje C?</h1>
		<div class="col col-md-5 box-feature">
			<img class="img-book" src="assets/img/book.svg" alt="book">
			<h2 class="title-features history">Historia</h2>
			<p class="text-features space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos suscipit optio cupiditate illum omnis repellendus perferendis voluptatem voluptate inventore in, provident facilis praesentium mollitia molestiae possimus quo tempore nemo reprehenderit, eum veritatis? Ea ut nesciunt quasi. Sunt maiores, rerum, sequi harum dicta inventore suscipit quis dolorem aut voluptates a neque vero, optio quasi hic consequatur enim doloribus quibusdam. Autem, ipsa molestiae quibusdam fuga voluptate dolorem commodi corporis sint optio!</p>
		</div>
		<div class="col col-md-7">
			<div class="row">
				<div class="col-md-4 box-feature">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Lorem</h3>
					<p class="text-features">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, ab. Something sldnoasdasdn doansda dasd adsasd asd f df</p>
				</div>
				<div class="col-md-4 box-feature">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Lorem</h3>
					<p class="text-features">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, modi.</p>
				</div>
				<div class="col-md-4">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Lorem ipsum</h3>
					<p class="text-features">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quo.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 box-feature box-feature-top">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Consectetur</h3>
					<p class="text-features">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores quos labore repellat fuga explicabo unde quasi cupiditate, et ut!</p>
				</div>
				<div class="col-md-6 box-feature-top">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Adipisicing</h3>
					<p class="text-features">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed reprehenderit ipsa voluptates dolorum nemo suscipit rerum assumenda.</p>
				</div>
			</div>				
		</div>
	</div>
	<div class="row">
		<h1 class="title-home-big same-line">Entonces... ¿Qué esperas?</h1>
		<a class="btn btn-green btn-green-big" id="btn-begin" [routerLink]="['/unit/1/lesson/1']">Comenzar</a>
	</div>
</div> 