<!-- <navbar-home>Cargando navbar...</navbar-home> -->
<div class="jumbotron center" >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-push-2 quote">
				<p>Lo que tenemos que <span>aprender</span> lo aprendemos <span>haciendo</span></p>
				<p class="author-quote">-ARISTÓTELES</p>
			</div>
		</div>
		<div class="row">
			<p class="text-explanation">AprendaC te facilita el aprendizaje y práctica de los conceptos básicos del lenguaje de programación C orientado a principiantes. Encontrarás el contenido organizado de menor a mayor complejidad de manera estructurada en unidades y lecciones, donde cada lección cuenta con un ejemplo para observar la utilidad del tema visto en la misma y con 3 ejercicios para que practiques cada tema.</p>
			<p><a class="btn btn-blue btn-lg btn-blue-vistazo" [routerLink]="['/content']" role="button">¡Echa un vistazo!</a></p>
		</div>
	</div>
</div>

<div class="container center">
	<div class="row">
		<h1 class="title-home-big">Pero... ¿Qué es Lenguaje C?</h1>
		<div class="col col-md-5 box-feature">
			<img class="img-book" src="assets/img/book.svg" alt="book">
			<h2 class="title-features history">Historia</h2>
			<p class="text-features space">El desarrollo inicial de C se llevó a cabo en los Laboratorios Bell de AT&T entre 1969 y 1973; según su creador, Dennis Ritchie, el periodo más creativo tuvo lugar en 1972. Se le dio el nombre "C" porque muchas de sus características fueron tomadas de un lenguaje anterior llamado "B". C fue diseñado e implementado originalmente en el sistema operativo UNIX por Dennis Ritchie. El sistema operativo, el compilador de C, y prácticamente todos los programas de aplicaciones UNIX están escritos en C.</p>
		</div>
		<div class="col col-md-7">
			<div class="row">
				<div class="col-md-4 box-feature">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Eficiente</h3>
					<p class="text-features">Es posible utilizar sus características de bajo nivel para conseguir optimizaciones.</p>
				</div>
				<div class="col-md-4 box-feature">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Portable</h3>
					<p class="text-features">A pesar de su bajo nivel, existen compiladores de C para casi todos los sistemas conocidos.</p>
				</div>
				<div class="col-md-4">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Modular</h3>
					<p class="text-features">Facilita la realización de programas modulares y/o utilizar código o bibliotecas existentes.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 box-feature box-feature-top">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Simple</h3>
					<p class="text-features">Su núcleo es simple, con funcionalidades como funciones matemáticas y manejo de archivos añadidas a través de bibliotecas.</p>
				</div>
				<div class="col-md-6 box-feature-top">
					<img class="img-features" src="assets/img/storm.svg" alt="book">
					<h3 class="title-features">Multipropósito</h3>
					<p class="text-features">Se utiliza para el desarrollo de diversas aplicaciones: sistemas operativos, hojas de cálculo, gestores de bases de datos, aplicaciones gráficas y demás</p>
				</div>
			</div>				
		</div>
	</div>
	<div class="row">
		<h1 class="title-home-big same-line">Entonces... ¿Qué esperas?</h1>
		<a class="btn btn-green btn-green-big" id="btn-begin" [routerLink]="['/unit/1/lesson/1']">Comenzar</a>
	</div>
</div> 