<div class="container-fluid">
    <div class="row title">
        <div class="col-md-4 col-md-push-1">
            <h1 class="title">¿Cómo funciona AprendaC?</h1>
        </div>
        <div class="col-md-2">
            <button class="btn btn-blue btn-sm btn-blue-start-tutorial" (click)="startTutorial()" role="button">Explicar</button>
        </div>
    </div>

    <div class="row problem-example">
        <div class="col-md-4 problem-data-box">
            <!-- Problem STATEMENT -->
            <div class="row">
                <div class="col-md-12">
                    <img id="sentence_image" 
                         src="assets/img/how_it_works/sentence.svg" 
                         alt="Enunciado">
                </div>
            </div>
            <!-- 593px -->
        </div>
        <div class="col-md-7 problem-code-box"> <!-- Note: with col-md-8 jumps to the next line -->
            <!-- Problem CODE EDITOR -->
            <div class="row">
                <div class="col-md-12">
                    <img id="code_editor_image" 
                         src="assets/img/how_it_works/code_editor.svg" 
                         alt="Editor de Código">

                    <img id="run_button_image" 
                         src="assets/img/how_it_works/run_button.svg" 
                         alt="Botón Compilar">

                    <img id="restore_button_image" 
                         src="assets/img/how_it_works/restore_button.svg" 
                         alt="Botón Restaurar">
                </div>
            </div>
            <div class="row problem-output-box">
                <div class="col-md-9">
                    <!-- Problem TIPS AND EXPECTED OUTPUT-->
                    <div class="row tips-output-box">
                        <h4>Salida</h4>
                        <img id="expected_output_tab_image" 
                             src="assets/img/how_it_works/expected_output_tab.svg" 
                             alt="Tab Salida Esperada">

                        <img id="expected_output_console_image" 
                             src="assets/img/how_it_works/expected_output_console.svg" 
                             alt="Consola Salida Esperada">
                    </div>
                    <!-- Problem OUTPUT CONSOLE-->
                    <img id="console_image" 
                         src="assets/img/how_it_works/console.svg" 
                         alt="Consola">
                </div>
            </div>
        </div>
    </div>      
</div>