<nav class="navbar navbar-inverse navbar-fixed-top ">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/']">
				<img class="logo" alt="AprendaC" src="assets/img/logo-name.svg">
			</a>
		</div>

		<div class="navbar-inner">
			<div class="container-fluid">
				<ul class="nav navbar-nav pull-right progressbar">
					<li class="completed"><a class="hint--bottom-right hint--medium" aria-label="Lektion eins" [routerLink]="['/unit/1/lesson/1']"></a></li>
					<li class="completed"><a class="hint--bottom hint--medium" aria-label="Lektion zwei" [routerLink]="['/unit/1/lesson/2']"></a></li>
					<li class="completed"><a class="hint--bottom hint--medium" aria-label="Lektion drei" [routerLink]="['/unit/1/lesson/3']"></a></li>
					<li class="completed"><a class="hint--bottom hint--medium" aria-label="Lektion vier" [routerLink]="['/unit/2/lesson/1']"></a></li>
					<li class="current"><a class="hint--bottom hint--medium" aria-label="Lektion fünf" [routerLink]="['/unit/2/lesson/2']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion sechs" [routerLink]="['/unit/3/lesson/1']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion sieben" [routerLink]="['/unit/3/lesson/2']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion acht" [routerLink]="['/unit/3/lesson/3']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion neun" [routerLink]="['/unit/4/lesson/1']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion zehn" [routerLink]="['/unit/4/lesson/2']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion elf" [routerLink]="['/unit/5/lesson/1']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion zwolf" [routerLink]="['/unit/5/lesson/2']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion dreizehn" [routerLink]="['/unit/6/lesson/1']"></a></li>
					<li><a class="hint--bottom hint--medium" aria-label="Lektion vierzehn" [routerLink]="['/unit/6/lesson/2']"></a></li>
					<li><a class="hint--bottom-left hint--medium" aria-label="Lektion fünfzehn" [routerLink]="['/unit/6/lesson/3']"></a></li>
			    </ul>
			</div>
	    </div>
			
	</div>
</nav>