<div class="container-fluid">

    <div class="row">
        <div [ngClass]="{'col-md-8': _currentTestScore >= 65, 
                         'col-md-10': _currentTestScore < 65
                        }">
            <h1 class="unit-title">{{_currentTest?.title}}</h1>
        </div>
        <div *ngIf="_currentTestScore >= 65" class="col-md-2 center">
            <button class="btn btn-blue btn-sm btn-blue-next-lesson" (click)="nextLesson()" role="button">Siguiente Lección</button>
        </div>
        <div class="col-md-2 center">
            <progressbar id="progress-bar"
                         [max]="_maxScore" 
                         [value]="_currentTestScore" 
                         [type]="_typeProgressBar">
                <span id="progress-bar-text"
                      [ngClass]="{'no-points': _currentTestScore == 0, 
                                  'with-points': _currentTestScore != 0
                                 }" >
                    {{_currentTestScore}} / {{_maxScore}}
                </span>
            </progressbar>
        </div>        
        <!-- <div *ngIf="isTestNext" class="col-md-2 center">
            <button class="btn btn-blue btn-sm btn-blue-next-lesson" (click)="nextLesson()" role="button">Presentar Parcial {{nextTestId}}</button>
        </div> -->
    </div>

    <div *ngIf="_currentTest" class="row test-content">
        <exercises-outlet [exercises]="_currentTest?.problems"></exercises-outlet>
    </div>
</div>