<ul *ngIf="this._userProgressService.getCurrentUserProgress()" class="nav navbar-nav pull-right progressbar">
    <li *ngFor="let lesson of this._userProgressService.getCurrentUserProgress();
                let isFirst = first;
                let isLast = last;" 
        [ngClass]="{'current': lesson.isCurrent, 'completed': lesson.isCompleted}" >
        <a [ngClass]="{
                'hint--bottom-right': isFirst,
                'hint--bottom-left': isLast,
                'hint--bottom': !(isFirst || isLast),
                'hint--medium': true
            }"
           [attr.aria-label]="lesson.lessonTitle"
           [routerLink]="['/unit', lesson.unitId, 'lesson', lesson.lessonId]">
        </a>
    </li>
</ul>