// @import 'https://fonts.googleapis.com/css?family=Oxygen|Source+Sans+Pro';

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
	font-family: 'Oxygen_Bold';
	src: url('../fonts/Oxygen/Oxygen-Bold.ttf');
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'SourceSansPro_Semibold';
	src: url('../fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf');
}

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/font-awesome/FontAwesome.otf');
	src:url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
		url('../fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/font-awesome/fontawesome-webfont.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Color palette */
$color_1NavyBlue: #114B5F;
$color_2DarkCyan: #028090;
$color_3Aquamarine: #E4FDE1;
$color_4BlueKing: #456990;
$color_5Magenta: #F45B69;

$color_white: #FFFFFF;
$color_black: #000000;
$color_green: #5FD35F;
$color_darkGreen: #4CA94C;
$color_darkBlueKing: #375473;
$color_lightGray: #E6E6E6;

/* Fonts */
$font_title: Oxygen, sans-serif;
$font_title_bold: Oxygen_Bold, sans-serif;
$font_main: SourceSansPro, sans-serif;
$font_main_semibold: SourceSansPro_Semibold, sans-serif;