@import "variables";

.navbar-inverse {
	background-color: $color_1NavyBlue;
	border-color: $color_1NavyBlue;

	.navbar-nav li a {		
		color: $color_white;
		font-family: $font_title;
		font-size: 20px;
		padding-right: 30px;
		padding-left: 30px;
		
		margin-right: 45px;
		margin-left: 0px;
		padding-bottom: 6px;

		&:hover {
			border-bottom: 4px solid $color_3Aquamarine;
		}

		&.current {
			border-bottom: 4px solid $color_3Aquamarine;
		}
	}
}

/* center the navbar*/
.center.navbar .nav,
.center.navbar .nav > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    *zoom: 1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.btn-green-navbar {
	padding: 0px 10px;
	font-family: $font_title;
	font-size: 22px;
}