@import "base";
@import "navbar_main";


$color_explanation: #5DA7A6;
$color_explanation_darker: #4A8685;
$color_lightGray: #F4F1F0;
$color_lightGrayDarker: #C3C1C0;
$color_olive: #AA8800;
$color_cyan: #37C8AB;
$color_console: #374548;

$color_exercise_continue_box: #E1E6E2;
$color_circle_exercise_number: #808080;

$color_expected-output-tab: #883044;

/* Expand the container to the entire page width */
.container-fluid{
	padding-right: 0px;
	.row {
		margin-right: 0px;	
	}
}


.unit-title {
	font-family: $font_title;
	font-size: 30px;
	color: $color_black;
	margin-top: 0px;
}

.btn-blue-next-lesson {
	font-family: $font_main;
	font-size: 16px;
	padding: 2px 7px;
}


/* Sections style tabs */
.nav-justified.sections > li > a,
.nav-justified.sections > li > a:hover,
.nav-justified.sections > li > a:focus {
	font-family: $font_title_bold;
	font-size: 18px;
	color: $color_white;
	text-transform: uppercase;
	padding: 5px 15px;
	border: 0;
	border-bottom: 3px solid $color_1NavyBlue;
	border-radius: 0px;

	&.explanation {
		background-color: $color_explanation;
		border-top: 3px solid $color_explanation;
	}

	&.example {
		background-color: $color_2DarkCyan;
		border-top: 3px solid $color_2DarkCyan;
	}

	&.exercises {
		background-color: $color_5Magenta;
		border-top: 3px solid $color_5Magenta;
	}
}

.nav-justified.sections > li.active > a,
.nav-justified.sections > li.active > a:hover,
.nav-justified.sections > li.active > a:focus {
	padding: 5px 15px;
	border: 0;
	border: 3px solid $color_1NavyBlue;
    border-bottom: none;

    &.explanation {
		border-bottom: 3px solid $color_explanation;
	}

	&.example {
		border-bottom: 3px solid $color_2DarkCyan;
	}

	&.exercises {
		border-bottom: 3px solid $color_5Magenta;
	}
}

.tab-pane {

	border: 3px solid $color_1NavyBlue;
    border-top: none;
	height: auto;

	&.explanation-pane {
		background-color: $color_explanation;
	}
	&.example-pane {
		background-color: $color_2DarkCyan;
	}	
	&.exercises-pane {
		background-color: $color_5Magenta;
	}
}


/* Buttons 'Next' and 'Previous' inside explanation*/

/* General button style (reset) */
.btn-explanation {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-explanation:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn-explanation:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-arrow-right:before {
	content: "\f061";	
}

.icon-arrow-left:before {
	content: "\f060";	
}

/* Button explanation */
.btn-explanation {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}

.btn-explanation:active {
	border-color: $color_1NavyBlue;
	color: $color_1NavyBlue;
}

.btn-explanation:hover {
	background: $color_explanation_darker;
}

.btn-explanation:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-explanation:active:before {
	color: $color_1NavyBlue;
}


/* Button -next */
.btn-explanation-next:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.btn-explanation-next:hover:before {
	left: 80%;
	opacity: 1;
}

/* Button -previous */
.btn-explanation-previous:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-explanation-previous:hover:before {
	left: 10%;
	opacity: 1;
}


/* Continue boxes */

.continue-box {
	
	border-radius: 6px;
	padding: 10px 5px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	color: $color_lightGray;

	&.explanation-continue-box {
		background-color: $color_1NavyBlue;
		width: 80%;
	}

	&.example-continue-box {
		background-color: $color_5Magenta;
		width: 95%;
		margin-right: -15%;
		float: right;
		margin-top: 35%;
	}

	h3,
	button.btn-continue-box {
		margin-top: 10px;
		font-family: $font_main;
		font-size: 24px;		
	}

	button.btn-continue-box { 
		background-color: $color_lightGray;
		color: $color_1NavyBlue;
		padding: 0px 5px;	

		&:hover {
			background-color: $color_lightGrayDarker;	
		}
	}

	&.exercise-continue-box {
		background-color: $color_exercise_continue_box;
		color: $color_1NavyBlue;
		width: 95%;
		margin-right: -15%;
		float: right;
		margin-top: 35%;

		h3 {
			font-size: 20px;
			font-weight: bold;
			margin-top: 10px;
		}

		.btn-green-continue-box {
			font-family: $font_main;
			font-size: 24px;
			padding: 0px 7px;
		}
	}
	
}

/* Problem data */

.problem-data-box {
	background-color: $color_3Aquamarine;
	border: 2px solid $color_1NavyBlue;
	margin: 10px 10px 10px 20px;
	color: $color_black;
	padding-right: 0px;

	h3 {
		font-family: $font_title;
		font-size: 28px;
		text-align: center;
		color: $color_black;
		margin-top: 10px;
	}

	p {
		font-family: $font_main;
		font-size: 18px;
		
	    height: 264px;
	    overflow-y: scroll;
		overflow-x: hidden;

		.key_words {
			color: $color_olive;
			font-weight: bold;
		}
	}
}

/* hr used as separator line between statement and data*/
hr {
    border: 0;
    height: 2px;
    margin: 0;
    margin-top: 10px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, from($color_lightGrayDarker), to($color_lightGrayDarker), color-stop(50%, #646262));
}

/* Table of data */

.problem-data-table { 
	height: auto;
	width: 100%;
	margin-bottom: 10px;

	table {
		font-family: $font_main;
		font-size: 18px;
		margin: 10px 5px;
		border-collapse: collapse;
		border: 1px solid $color_lightGray;
		border-bottom: 2px solid #00cccc;
		background-color: $color_white;
		width: 97%;

		tr {
			&:hover {
			background: $color_lightGray;
				td {
					color: $color_black;
				}
			}
		}

		th, td {
			width: 50%;
			color: #626262;
			border: 1px solid $color_lightGray;
			padding: 5px 10px;
			border-collapse: collapse;
		}

		th {
			background: $color_cyan;
			color: $color_white;
			text-transform: uppercase;
			font-weight: bold;

			&.last {
				border-right: none;
			}
		}
	}
}



.problem-code-box {
	padding-left: 15px;
}

/* Console */
.console {
	background-color: $color_console;
	border: 1px solid $color_3Aquamarine;
	color: $color_white;
	width: 120%;
	height: 250px;
	margin-bottom: 10px;

	p {
		font-family: $font_main;
		font-size: 16px;
		margin: 5px;
		height: 240px;
	    overflow-y: scroll;
		overflow-x: hidden;
	}
}


/* Editor */

.code-editor {
	margin: 10px 0px 0px 0px;
	height: 365px;
	width: 113%;
}


.btn-run-code {

	font-size: 16px;
	font-weight: bold;
	position:absolute;
	z-index:10;
	margin-top: 20px;
	margin-left: 98%;

	&:after {
		font-family: 'fontawesome';
		content: "\f04b";	
		margin-left: 5px;
		padding-right: 0px;
	}
}


.excercises-number {
	counter-reset: step;
	margin-top: 5px;
	padding: 0px 20px;
	text-align: center;
	margin-bottom: 45px;

	&:before {
		content : "";
		position: absolute;
		left: 25%;
		bottom: 80%;
		height: 1px;
		width: 45%;
		border-bottom: 1px solid $color_black;
	}

	li {
		list-style-type: none;
		width: 33%;
		float: left;
		font-family: $font_title;
		font-size: 13px;
		font-weight: bold;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		color: $color_exercise_continue_box;

		/* Circles */
		&:before {
			width: 25px;
			height: 25px;
			content: counter(step);
			counter-increment: step;
			line-height: 23px;
			display: block;
			text-align: center;
			margin: 0 20px 10px auto;
			border-radius: 50%;
			background-color: $color_circle_exercise_number;
		}

		
		/* Circle on completed exercise */
		&.completed:before {
			content: url('../img/check-round.svg');
			background-color: $color_2DarkCyan;
		}

		/* Circle con current exercise */
		&.current:before {
			background-color: $color_2DarkCyan;
		}

		
		> a {
		    position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.tips-output-box {
	width: 120%;
	display: inline-flex;

	h4 {
		width: 15%;
		margin: 0px;
		font-family: $font_title;
		font-size: 20px;
		font-weight: bold;
		color: $color_white;
		margin-bottom: 8px;
	}

	ul {
		margin-left: 65%;
		list-style: none;
		margin-bottom: 0px;
	}

	li {
		height: auto;
		width: auto;
		display: inline-block;
		
		border-top-right-radius: 15%;
		border-top-left-radius: 15%;
		
		&.tips {
			background-color: $color_2DarkCyan;
			&:hover {
				background-color: #026673;
			}
			img {
				width: 20px;
			}
		}
	
		&.expected-output {
			margin-left: 5px;
			background-color: $color_expected-output-tab;
			&:hover {
				background-color: #6D2636;
			}
			img {
				width: 30px;
			}
			
		}

		img {
			height: 20px;
			margin: 5px;
		}
	}

	a {
		font-family: $font_title;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}

.expected-output-console {
	position: absolute;
	height: auto;
	width: 500px;
	background-color: #808080;
	border-radius: 5px;

	// To debug
	display: none;
	margin-top:30px;
	
	h5, p {
		height: auto;
		font-family: $font_main;
		color: $color_white;
	}

	h5 {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 5px;
	}

	p {
		background-color: #333333;
		margin: 0px 5px 5px 5px;
		padding: 5px;
	}

}

.close-window-x {
	color: $color_white;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 $color_white;
	top: 5px;

	&:hover {
		text-decoration: none;
		color: $color_1NavyBlue;
	}

	&:after {
	  content: '✖'; /* UTF-8 symbol */
	}
}

/* Tips */

#tips-carousel {
	background-color: $color_2DarkCyan;
	width: 220px;
	height: auto;

	img {
		width: 25px;
		height: 25px;
		margin-top: -10px;
	}

	p { 
		font-family: $font_main;
		font-size: 15px;
		color: $color_3Aquamarine;
		margin: 10px 25px;
	}
}

.carousel-control {
    opacity: 1;
	
	i {
	    width: 0;
	    color: $color_3Aquamarine;
    }
}

.carousel-control.left,
.carousel-control.right {
	top: 45px;
	color: #f4f1f0;
	background-image: none !important;
}

.carousel-control.left {
	margin-left: -15px;
}

.carousel-control.right {
	margin-right: 5px;
}

.popover {
	border-radius: none !important;
	background-color: $color_2DarkCyan;
}

.popover-content {
	padding: 0px 0px;
}

.popover.top > .arrow::after {
    border-top-color: $color_2DarkCyan;
}
// .popover {
//   border: 2px solid rgba(255, 158, 0, 1);
// }

// .popover.bottom>.arrow {
//   border-bottom-color: rgba(255, 158, 0, 1);
// }

// .popover.bottom>.arrow:after {
//   top: 3px;
// }