@import "base";
@import "navbar_main";


$color_explanation: #5DA7A6;
$color_explanation_darker: #4A8685;
$color_lightGray: #F4F1F0;
$color_lightGrayDarker: #C3C1C0;
$color_olive: #AA8800;
$color_cyan: #37C8AB;
$color_console: #374548;

/* Expand the container to the entire page width */
.container-fluid{
	padding-right: 0px;
	.row {
		margin-right: 0px;	
	}
}


.unit-title {
	font-family: $font_title;
	font-size: 30px;
	color: $color_black;
	margin-top: 0px;
}

.btn-blue-next-lesson {
	font-family: $font_main;
	font-size: 16px;
	padding: 2px 7px;
}


/* Sections style tabs */
.nav-justified.sections > li > a,
.nav-justified.sections > li > a:hover,
.nav-justified.sections > li > a:focus {
	font-family: $font_title_bold;
	font-size: 18px;
	color: $color_white;
	text-transform: uppercase;
	padding: 5px 15px;
	border: 0;
	border-bottom: 3px solid $color_1NavyBlue;
	border-radius: 0px;

	&.explanation {
		background-color: $color_explanation;
		border-top: 3px solid $color_explanation;
	}

	&.example {
		background-color: $color_2DarkCyan;
		border-top: 3px solid $color_2DarkCyan;
	}

	&.exercises {
		background-color: $color_5Magenta;
		border-top: 3px solid $color_5Magenta;
	}
}

.nav-justified.sections > li.active > a,
.nav-justified.sections > li.active > a:hover,
.nav-justified.sections > li.active > a:focus {
	padding: 5px 15px;
	border: 0;
	border: 3px solid $color_1NavyBlue;
    border-bottom: none;

    &.explanation {
		border-bottom: 3px solid $color_explanation;
	}

	&.example {
		border-bottom: 3px solid $color_2DarkCyan;
	}

	&.exercises {
		border-bottom: 3px solid $color_5Magenta;
	}
}

.tab-pane {

	border: 3px solid $color_1NavyBlue;
    border-top: none;
	height: 650px;

	&.explanation-pane {
		background-color: $color_explanation;
	}
	&.example-pane {
		background-color: $color_2DarkCyan;
	}	
	&.exercises-pane {
		background-color: $color_5Magenta;
	}
}


/* Buttons 'Next' and 'Previous' inside explanation*/

/* General button style (reset) */
.btn-explanation {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-explanation:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn-explanation:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-arrow-right:before {
	content: "\f061";	
}

.icon-arrow-left:before {
	content: "\f060";	
}

/* Button explanation */
.btn-explanation {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}

.btn-explanation:active {
	border-color: $color_1NavyBlue;
	color: $color_1NavyBlue;
}

.btn-explanation:hover {
	background: $color_explanation_darker;
}

.btn-explanation:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-explanation:active:before {
	color: $color_1NavyBlue;
}


/* Button -next */
.btn-explanation-next:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.btn-explanation-next:hover:before {
	left: 80%;
	opacity: 1;
}

/* Button -previous */
.btn-explanation-previous:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-explanation-previous:hover:before {
	left: 10%;
	opacity: 1;
}


/* Continue boxes */

.continue-box {
	
	border-radius: 6px;
	padding: 10px 5px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	color: $color_lightGray;

	&.explanation-continue-box {
		background-color: $color_1NavyBlue;
		width: 80%;
	}

	&.example-continue-box {
		background-color: $color_5Magenta;
		width: 95%;
		margin-right: -15%;
		float: right;
		margin-top: 10%;
	}

	h3,
	button.btn-continue-box {
		margin-top: 10px;
		font-family: $font_main;
		font-size: 24px;		
	}

	button.btn-continue-box { 
		background-color: $color_lightGray;
		color: $color_1NavyBlue;
		padding: 0px 5px;	

		&:hover {
			background-color: $color_lightGrayDarker;	
		}
	}
	
}

/* Problem data */

.problem-data-box {
	background-color: $color_3Aquamarine;
	border: 2px solid $color_1NavyBlue;
	margin: 10px 10px 10px 20px;
	color: $color_black;
	padding-right: 0px;

	h3 {
		font-family: $font_title;
		font-size: 28px;
		text-align: center;
		color: $color_black;
		margin-top: 10px;
	}

	p {
		font-family: $font_main;
		font-size: 18px;
		
	    height: 250px;
	    overflow-y: scroll;
		overflow-x: hidden;

		.key_words {
			color: $color_olive;
			font-weight: bold;
		}
	}
}

/* hr used as separator line between statement and data*/
hr {
    border: 0;
    height: 2px;
    margin: 0;
    margin-top: 10px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, from($color_lightGrayDarker), to($color_lightGrayDarker), color-stop(50%, #646262));
}

/* Table of data */

.problem-data-table { 
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;

	table {
		font-family: $font_main;
		font-size: 18px;
		margin: 10px 5px;
		border-collapse: collapse;
		border: 1px solid $color_lightGray;
		border-bottom: 2px solid #00cccc;
		background-color: $color_white;
		width: 97%;

		tr {
			&:hover {
			background: $color_lightGray;
				td {
					color: $color_black;
				}
			}
		}

		th, td {
			width: 50%;
			color: #626262;
			border: 1px solid $color_lightGray;
			padding: 5px 10px;
			border-collapse: collapse;
		}

		th {
			background: $color_cyan;
			color: $color_white;
			text-transform: uppercase;
			font-weight: bold;

			&.last {
				border-right: none;
			}
		}
	}
}



.problem-code-box {
	padding-left: 15px;
}

/* Console */
.console {
	background-color: $color_console;
	border: 1px solid $color_3Aquamarine;
	color: $color_white;
	width: 120%;
	height: 250px;

	p {
		font-family: $font_main;
		font-size: 16px;
		margin: 5px;
		height: 240px;
	    overflow-y: scroll;
		overflow-x: hidden;
	}
}


/* Editor */

#editor {
	margin: 10px 0px;
	height: 365px;
	width: 113%;
}



/* .btn-explanation {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-explanation:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
} */



.btn-run-code {

	font-size: 16px;
	font-weight: bold;
	position:absolute;
	z-index:10;
	margin-top: 20px;
	margin-left: 98%;

	&:after {
		font-family: 'fontawesome';
		content: "\f04b";	
		margin-left: 5px;
		padding-right: 0px;
	}
}

