<!-- Problem. Inside of it, we'll find:
        - Statement
        - Data Table
        - Code editor 
        - Output Console
        - Tips and expected output
-->
<problem-outlet [problem]="selectedExercise" [isOnExercises]="true"></problem-outlet>

<!-- Section to Navigate between the exercises of the lesson and go to the next section too-->
<div class="row">
<div class="col-md-2 col-md-push-10">
    <div class="nav-section-box nav-exercise">
        <ul class="excercises-number">
            <li *ngFor="let exercise of exercisesSelectorCircles; 
                        let index = index; " [class.current]="exercise.active">
                <a (click)="selectExercise(index)"></a>
            </li>
        </ul>
        <div *ngIf="!isSelectedExerciseLast">
            <h3>¡Continúa con otro ejercicio!</h3>
            <button type="button" href="#" class="btn btn-green btn-green-nav-exercise"
                    (click)="nextExercise()">
                Continuar
            </button>
            <h3>o sigue con</h3>
            <button class="btn btn-blue btn-sm btn-blue-next-lesson" (click)="nextLesson()" role="button">
                Siguiente Lección
            </button>
        </div>
        <div *ngIf="isSelectedExerciseLast">
            <div *ngIf="!isCurrentLessonLast">
                <h3>¿Listo?</h3>
                <p>Si has terminado con los ejercicios, ¡Sigue aprendiendo nuevos temas!</p>
                <button class="btn btn-blue btn-sm btn-blue-next-lesson" (click)="nextLesson()" role="button">
                    Siguiente Lección
                </button>
            </div>
            <div *ngIf="isCurrentLessonLast">
                <h3>¿Listo?</h3>
                <p>¡Felicitaciones! Has llegado al final de AprendaC, recuerda.. Practicando C Aprende <i class="fa fa-smile-o" aria-hidden="true"></i> </p>
            </div>
        </div>
    </div>
</div>
</div>
